<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Home</title>
 </head>
 <body>
  <p>영화 이름 입력<input type="text" name="movie_name"></p>
  {% if True %}
  <img src="{{ url_for('static', filename=image_file) }}"></br>
  {% endif %}
  <form action="http://localhost:5000/cosine" method="GET">
  <input type="submit" value="cosine"/> Cosine
  </form>
  <form action="http://localhost:5000/tfidf" method="GET">
  <input type="submit" value="tfidf"/> TF-IDF
  </form>
 </body>
</html>
